body {
    text-align: center;
}

.button {
    margin: 1rem;
}

.grid-container {
    height: 500px;
    width: 500px;
    display: grid;
    border: 1px solid black;
    margin: 0rem auto;
}

.cell {
    border: 0.5px solid black;
    background: lightblue;
}