body {
    text-align: center;
}

#buttonContainer {
    margin: 1rem;
}

#gridContainer {
    border: 1px solid black;
    height: 500px;
    width: 500px;
    display: grid;
    margin: 1rem auto;
}

.cell {
    border: 0.5px solid black;
    background-color: lightblue;
}