.head {
    font-size: 3rem;
    margin: 1rem;
}

body {
    text-align: center;
}

.button {
    font-size: 1rem;
    margin: 1rem;
    
}

.grid-container {
    height: 500px;
    width: 500px;
    display: grid;
    border: 0.5px solid black;
    margin: 1rem auto;
}

.cell {
    border: 0.5px solid grey;
    background: whitesmoke;
}